@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	font-family: Roboto, sans-serif;
}

ul {
	display: flex;
	gap: 15px;
	list-style-type: none;
	flex-wrap: wrap;
	justify-content: space-around;
}
a {
	text-decoration: none;
	color: #eee;
}

.header-container {
	display: flex;
	background-color: #1f2937;
	justify-content: space-around;
	padding: 10px 0;
	width: 100%;
}
.header {
	display: flex;
	justify-content: space-between;
	width: 80%;
	align-items: center;
	flex-wrap: wrap;
}
.logo {
	font-size: 2rem;
	font-weight: 700;
	color: rgb(238, 177, 10);
	display: flex;
	align-items: center;
	gap: 8px;
	flex-grow: 1;
	flex-wrap: wrap;
}
.hero-container {
	display: flex;
	background-color: #1f2937;
	justify-content: space-around;
	width: 100%;
}
.hero {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	max-width: 80%;
	min-width: 40%;
	min-height: 100dvh;
	height: auto;
	align-items: center;
	padding-bottom: 40px;
	gap: 17px;
}
.hero-item {
	display: flex;
	flex-wrap: wrap;
	flex-basis: 400px;
	padding-bottom: 10px;
}

.hero-text {
	color: #eee;
	flex-wrap: wrap;
	min-height: 44%;
	justify-content: flex-start;
	font-size: 13px;
	flex-basis: 430px;

	h1{
		font-size: 2rem;
	}
}
/* .hero-text > h1 {
	font-size: 40px;
} */
.hero-image {
	/* height: 44%; */
	width: 100%;
	flex-basis: 400px;
}

.hero-image img {
	max-width: 100%;
	height: auto;
	object-fit: contain;
}
h1 {
	font-size: 30px;
	padding-bottom: 10px;
}
p {
	font-size: 15px;
	font-weight: 50;
}
.sign-up {
	display: flex;
	margin-top: 15px;
}

.sign-up-button {
	width: 120px;
	height: 40px;
	background-color: #3882f6;
	border-radius: 10px;
	color: #eee;
	border: 1px solid #3882f6;
	font-weight: bold;
}
button:hover {
	cursor: pointer;
}

.information-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	background-color: #eee;
	align-items: center;
	min-height: 550px;
	width: 100%;
}

.title {
	display: flex;
	justify-content: center;
	text-align: center;
	flex-direction: row;
	padding: 12px;
	font-weight: 900;
	font-size: 2rem;
	width: 100%;
	line-height: 2lh;
	color: #1f2937;
}
.content {
	display: flex;
	justify-content: space-evenly;
	align-items: flex-start;
	flex-wrap: wrap;
	width: 74%;
	min-height: 550px;
	padding-bottom: 8px;
}
.fun-fact {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	margin-top: 1.5rem;
	align-items: flex-start;
	flex-basis: 200px;
	min-height: 490px;
	gap: 10px;
	max-width: 200px;
	border: 1px solid #ccc;
	border-radius: 10px;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}
.pic {
	height: 200px;
	width: 200px;
	border-radius: 12px;
}
.pic > img {
	height: 200px;
	max-width: 100%;
	border-radius: 10px;
}
.fact {
	display: flex;
	justify-content: flex-start;
	height: auto;
	max-width: 200px;
	flex-wrap: wrap;
	text-align: center;
	padding: 4px;
}

.quote-container {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #5c677d;
	min-height: 300px;
	padding: 16px;
}
.quote {
	display: flex;
	width: 900px;
	min-height: 300px;
	justify-content: center;
	color: #eee;
	flex-direction: column;
}

.quote > p {
	font-size: 36px;
	font-style: light-italic;
	padding-bottom: 15px;
}

.quote > h4 {
	display: flex;
	justify-content: flex-end;
	font-size: 20px;
	font-weight: 900;
}

.action-container {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #eee;
	min-height: 300px;
	width: 100%;
}
.action {
	display: flex;
	justify-content: center;
	min-height: 100px;
	width: 70%;
	border-radius: 8px;
	padding: 6px;
	background-color: #3882f6;
	align-items: center;
}

.text-and-button {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 15px;
	align-items: center;
	min-height: 75px;
	width: 90%;
	color: #eee;
}

.the-text {
	margin-right: 20px;
	margin-left: 10px;
}
.the-button {
	flex-basis: 120px;
	height: 40px;
	background-color: #3882f6;
	border-radius: 10px;
	color: #eee;
	border: 2px solid #eee;
	font-weight: bold;
	margin-right: 40px;
}
.footer-container {
	display: flex;
	background-color: #1f2937;
	justify-content: center;
	padding: 10px 0;
}
.footer {
	display: flex;
	justify-content: center;
	width: 900px;
	height: 40px;
	align-items: center;
	text-align: center;
	color: #eee;
}
