*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
body{
    border: 1px solid hotpink;
}
ul{
    display: flex;
    gap: 30px;
    list-style-type: none;
    
}
a{
    text-decoration: none;
    color: #eee;
}

.header-container{
    display: flex;
    background-color: #1F2937;
    justify-content: space-around;
    padding: 10px 0;
     
}
.header{
    display: flex;
    justify-content: space-between;
    width: 1000px;
    align-items: center;
    border: 1px solid hotpink;
}

.logo{
    font-size: 24px;
    font-weight: 700;
    color: rgb(238, 177, 10);
    display: flex;
    align-items: center;
    gap: 8px;
}
.hero-container{
    display: flex;
    background-color: #1F2937;
    justify-content: space-around;
   
}
.hero{
    display: flex;
    justify-content: space-between;
    width: 1000px;
    height: 500px;
    align-items: center;
    border: 1px solid hotpink;
  
}
.hero-text{
    color: #eee;
    
    display: flex;
    height: 250px;
    width: 700px;
    flex-direction: column;
    /* padding-top: 120px; */
    justify-content: flex-start;
    font-size: 13px;
}
.hero-image{
    display: flex;
    height: 250px;
    width: 500px;
    justify-content: flex-end;
    border: 1px solid hotpink;
}
/* .hero-image > img{
    width: 500px;
    height: auto;
} */
h1{
    font-size: 30px;
    padding-bottom: 10px;
}
p{
    font-size: 15px;
    font-weight: 45px;
}
