*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
ul{
    display: flex;
    gap: 30px;
    list-style-type: none;
    
}
a{
    text-decoration: none;
    color: #eee;
}

.header-container{
    display: flex;
    background-color: #1F2937;
    justify-content: space-around;
    padding: 10px 0;   
}
.header{
    display: flex;
    justify-content: space-between;
    width: 900px;
    align-items: center;
}

.logo{
    font-size: 24px;
    font-weight: 700;
    color: rgb(238, 177, 10);
    display: flex;
    align-items: center;
    gap: 8px;
}
.hero-container{
    display: flex;
    background-color: #1F2937;
    justify-content: space-around;
}
.hero{
    display: flex;
    justify-content: space-between;
    width: 900px;
    height: 500px;
    align-items: center;
}
.hero-text{
    color: #eee;
}
.hero-image{
    display: flex;
    height: 250px;
    width: 500px;
    border-radius: 6px;
    justify-content: flex-end;
}